<div class="row">
    <div [ngClass]="isSidePanelVisible ? 'col-8' : 'col-12'">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6">
                        Product list
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm btn-success" (click)="AddNew()">New Product</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="card" >
                            <img class="card-img-top" src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" alt="Card image">
                            <div class="card-body">
                              <h4 class="card-title">John Doe</h4>
                              <p class="card-text">Some example text.</p>
                              <a href="#" class="btn btn-primary">See Profile</a>
                            </div>
                          </div>
                    </div>
                    <div class="col">
                        <div class="card" >
                            <img class="card-img-top" src="https://fakestoreapi.com/img/71-3HjGNDUL._AC_SY879._SX._UX._SY._UY_.jpg" alt="Card image">
                            <div class="card-body">
                              <h4 class="card-title">John Doe</h4>
                              <p class="card-text">Some example text.</p>
                              <a href="#" class="btn btn-primary">See Profile</a>
                            </div>
                          </div>
                    </div>
                    <div class="col">
                        <div class="card" >
                            <img class="card-img-top" src="https://fakestoreapi.com/img/71pWzhdJNwL._AC_UL640_QL65_ML3_.jpg" alt="Card image">
                            <div class="card-body">
                              <h4 class="card-title">John Doe</h4>
                              <p class="card-text">Some example text.</p>
                              <a href="#" class="btn btn-primary">See Profile</a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-4" *ngIf = "isSidePanelVisible">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6">
                        New Product
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm btn-success" (click)="close()">Close</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label for="">SKU</label>
                        <input type="text" [(ngModel)] = "productObj.productSku" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Name</label>
                        <input type="text" [(ngModel)] = "productObj.productName" class="form-control">
                    </div>
                </div>

                    <div class="row">
                    <div class="col-6">
                        <label for="">Price</label>
                        <input type="text" [(ngModel)] = "productObj.price" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Short Name</label>
                        <input type="text" [(ngModel)] = "productObj.productShortName" class="form-control">
                    </div></div>

                <div class="row">
                    <div class="col-6">
                        <label for="">Category</label>
                        <select [(ngModel)] = "productObj.id" class="form-select">
                            <option *ngFor="let cate of categoryList" [value]="cate.id">{{cate.title}}</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="">Delivery Time</label>
                        <input type="text" [(ngModel)] = "productObj.deliveryTimeSpan" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <label for="">Image Url</label>
                        <input type="text" [(ngModel)] = "productObj.productImageUrl" class="form-control">
                    </div>
                    <div class="col-12">
                        <label for="">Description</label>
                        <textarea rows="4" class="form-control" [(ngModel)] = "productObj.productDescription"></textarea>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>